<h1>Ingresa los datos para calculo de interes</h1>

<form action="/" method="POST">
  <div>
    <label>Monto capital credito</label>
    <input type="number" required="true" name="amount" placeholder="0">
  </div>
  <div>
    <label>Tasa interes anual</label>
    <input type="number" required="true" name="interestRate" placeholder="0">
  </div>
  <div>
    <label>Numero Años credito</label>
    <input type="number" required="true" name="numberYears" placeholder="0">
  </div>
    <button type="submit">
    Calcular
  </button>
</form>