<h1>Total Interes Caclulado</h1>
<p>Para $ {{amount}} de capital, con una tasa de interes de {{interestRate}} % y calculado a {{numberYears}} años el interes total es de $ {{totalInterest}}</p>

<a href="/">Volver a calcular</a>