<h1>Total Interes Caclulado</h1>
<p>Para <b>$ {{amount}}</b> de capital
<br>Con una tasa de interes de <b>{{interestRate}} % </b>anual 
<br>Calculado a <b>{{numberYears}} años</b> 
<br>El interes total es de <b>$ {{totalInterest}}<b>
</p>

<a href="/">Volver a calcular</a>